

	<% layout('layouts/boilerplate') %>


	<div class="row">
		<div class="col-6 offset-3">
		<h1 class="text-center">New campground</h1>

		<form action="/campgrounds" method="post" class="validated-form" enctype="multipart/form-data" novalidate>

		<div class="mb-3">
			<label class="form-label" for="campgrounds[name]">Name: </label>
			<input class="form-control" type="text" name="campgrounds[name]" required>
			<div class="valid-feedback">
				Looks good!
			  </div>
		</div>
	
		<div class="mb-3">
			<label class="form-label" for="campgrounds[location]">Location: </label>
			<input class="form-control" type="text" name="campgrounds[location]" required>
			<div class="valid-feedback">
				Looks good!
			  </div>
		</div>

		<div class="mb-3">
			<label class="form-label" for="campgrounds[price]">Price: </label>
		<div class="input-group">
			<div class="input-group-prepend">
			  <span class="input-group-text" id="price-label">$</span>
			</div>
			<input type="text" class="form-control" name="campgrounds[price]" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
		  </div>
		  <div class="valid-feedback">
			Looks good!
		  </div>
		</div>


		<div class="mb-3">
			<label class="form-label" for="campgrounds[description]">Description: </label>
			<textarea class="form-control" type="text" name="campgrounds[description]" required></textarea>
			<div class="valid-feedback">
				Looks good!
			  </div>
		</div>


		<div class="input-group mb-3">
			<div class="custom-file">
			  <input type="file" class="custom-file-input" id="image" name="image" multiple>
			  <label class="custom-file-label" for="image" aria-describedby="inputGroupFileAddon02">Choose images</label>
			</div>
			<div class="input-group-append">
			  <span class="input-group-text" id="image">Upload</span>
			</div>
		  </div>

		

		<div class="mb-3">
		<button class="btn btn-success">Add Campground</button>
		</div>

		</form>
		</div>
	</div>



	
